/* General styles */
body {
  margin: 0;
  padding: 0;
}
/* Header */
header {
  position: relative;
}
header nav {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
  background: white;
}
h1 {
  color: white;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 50px;
}
.main-banner {
  display: block;
  width: 100%;
}
.header-text .arrow {
  display: inline-block;
  padding: 20px;
  border: solid #fff;
  border-width: 0px 3px 3px 0px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity 0.3s ease;
  trasition: opacity 0.3s ease;
}
.header-text .arrow:hover {
  opacity: 0.7;
}

.logo {
  font-family: "Monoton", cursive;
  color: black;
  font-size: 26px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}
/* Gallery */
#gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#gallery > li {
  width: 1000px;
  margin: 10px;
  line-height: 75px;
}
.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
}
.backdrop img {
  max-width: 80%;
}
span.backdrop-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}
#gallery li img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 250px;
}
#gallery li {
  position: relative;
  width: 30%;
  overflow: hidden;
}

/*Responsiveness*/
@media all and (max-width: 800px) {
  h1 {
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  #gallery li img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    -webkit-transition: opacity 0.3s ease;
    trasition: opacity 0.3s ease;
  }
}
@media all and (max-width: 500px) {
  header-text {
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }
  .header-text .arrow {
    padding: 10px;
  }
  #gallery li img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 115px;
  }
}
@media all and (max-width: 400px) {
  h1 {
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }

  #gallery li {
    width: 40%;
  }
}
